body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}

/* header/የዓናት  style/  */
.የዓናት-መያዣ {
  background-color: black;
  font-weight: 200;
  font-size: 0.75em;
}

.የውሰጥ-መያዣ {
  width: 980px;
  padding: 0 10px;
  margin: 0 auto;
}
.የዓናት-ሊንክ-መያዣ ul {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.የዓናት-መያዣ .የውሰጥ-መያዣ ul li a {
  color: #ffff;
  text-decoration: none;
}
.የዓናት-መያዣ ul {
  list-style: none;
}
.የዓናት-መያዣ .የዓናት-ሊንክ-መያዣ ul li {
  display: inline-block;
  padding: 14px 0 8px;
  height: 25px;
  opacity: 0.8;
}
.የሎጎ-ሊንክ,
.የፍለጋ-ሊንክ,
.የዘምቢል-ሊንክ {
  width: 18px;
  display: block;
}
/* SECTION-ONE/አንደኛው-ክፍል STYLE  */
.አንደኛው-ክፍል {
  background: hsl(0, 0%, 98%);
  text-align: center;
  padding: 24px 0;
}
.ሊንክ-መያዣ ul {
  list-style: none;
}
.ሞዴል {
  font-size: 85%;
}
.ማክ-ቡክ {
  font-weight: 725;
  font-size: 55px;
}
.ገለፃ {
  font-size: 42px;
}
.ሊንክ-መያዣ {
  padding: 14px 0;
}
.ሊንክ-መያዣ ul li {
  display: inline-block;
  padding-right: 20px;
}
.ሊንክ-መያዣ ul li a {
  color: #06c;
  text-decoration: none;
}
.ሊንክ-መያዣ ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}
.ሊንክ-መያዣ ul li a:hover {
  color: #000;
}

/* SECTION-TWO/ሁለተኛው-ክፍል STYLE */
.ሁለተኛው-ክፍል {
  background-image: url(../images/home/iphone11-pro-bg.jpg);
  height: 570px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
  color: #ffff;
}
.የአርእስቱ-መያዣ {
  font-weight: 600;
  font-size: 56px;
}
.የገለፃው-መያዣ {
  font-size: 26px;
  padding: 10px 0;
}
.የዋጋው-መያዣ {
  color: #86868b;
  font-size: 85%;
}

/* SECTION THREE/ሶስተኛው-ክፍል  */
.ሶስተኛው-ክፍል {
  background-image: url(../images/home/iphone11-bg.jpg);
  height: 570px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
}

/* SECTION-FOUR/አራተኛው-ክፍል Styling  */
.አራተኛው-ክፍል {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #fff;
}
.የግራ-በኩል-መያዣ {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 0.5% 0% 1%;
  padding-top: 54px;
}
.አራተኛው-ክፍል .የግራ-በኩል-መያዣ {
  background-image: url(../images/home/watch-series-5.jpg);
}
.የቀኝ-በኩል-መያዣ {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 0.5% 0% 1%;
  padding-top: 54px;
}
.አራተኛው-ክፍል .የቀኝ-በኩል-መያዣ {
  background-image: url(../images/home/apple-card.jpg);
}
.የገለፃው-መያዣ {
  max-width: 430px;
  margin: 0 auto;
  padding: 10px;
}
/* SECTION-FIVE/አምሰተኛው-ክፍል */
.አምሰተኛው-ክፍል {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #fff;
}
.አምሰተኛው-ክፍል .የግራ-በኩል-መያዣ {
  background-image: url(../images/home/apple-tv-background.jpg);
}
.ሰርቫንት-ሎጎ-መያዣ {
  padding: 180px 0 200px;
}
.ትሬለር-መያዣ a {
  text-decoration: none;
  font-size: 85%;
}
.ትሬለር-መያዣ a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
.ሎጎ-መያዣ {
  font-size: 40px;
  font-weight: bold;
}
.አምሰተኛው-ክፍል .የቀኝ-በኩል-መያዣ {
  background-image: url("../images/home/air-pods.jpg");
  color: #fff;
  background-size: initial;
  background-color: #000;
  background-position: bottom;
}

/* ስድስተኛው-ክፍል/SECTION-SIX */
.ስድስተኛው-ክፍል {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #fff;
}
.ስድስተኛው-ክፍል .የግራ-በኩል-መያዣ {
  background-image: url(../images/home/macbook-pro.jpg);
  background-size: initial;
  background-color: #fafafa;
  background-position: bottom;
}
.ማክ-ቡክ-በትንሹ {
  font-weight: 700;
  font-size: 45px;
}
.ስድስተኛው-ክፍል .የቀኝ-በኩል-መያዣ {
  background-image: url(../images/home/new-ipad.jpg);
}

/* Footer/ግርጌ styling */
.የግርጌ-መያዣ {
  background-color: #f5f5f7;
  color: #1d1d1f;
  font-size: 0.65em;
}
.የላይኛው-ፅሁፍ-መያዣ {
  border-bottom: 1px solid #d2d2d7;
  color: #86868b;
  padding: 17px 0 20px;
}
.የላይኛው-ፅሁፍ-መያዣ a {
  text-decoration: none;
  color: #515154;
}
.የላይኛው-ፅሁፍ-መያዣ a:hover {
  text-decoration: underline;
}
.የግርጌ-ሊንክ-መያዣ {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
}
.የግርጌ-መያዣ ul {
  list-style: none;
  padding-bottom: 20px;
}
.የግርጌ-መያዣ ul li {
  padding: 5px 0;
  font-size: 0.9em;
}
.የግርጌ-ሊንክ-መያዣ a {
  color: #515154;
  text-decoration: none;
}
.የግርጌ-ሊንክ-መያዣ a:hover {
  text-decoration: underline;
}
.የግርጌ-ሊንክ-መያዣ h4 {
  font-size: 12px;
  font-weight: 600;
}
.ማይ-አፕል-መያዣ {
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.የቅጂ-መብት-መያዣ {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 10px 0 20px;
}
.የግርጌ-ሊንክ-መብትና-ግዴታዎች ul li {
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #ccc;
}
.የግርጌ-ሊንክ-መብትና-ግዴታዎች ul li:last-child {
  border-right: 0px;
}
.የግርጌ-ሊንክ-መብትና-ግዴታዎች ul li a {
  text-decoration: none;
  color: #515154;
}
.የግርጌ-ሊንክ-መብትና-ግዴታዎች ul li a:hover {
  text-decoration: underline;
}
.በግርጌ-ስር-ሀገር {
  display: inline-block;
}
.ሰንደቅ-መያዣ {
  display: inline-block;
  vertical-align: middle;
}
.በግርጌ-ስር-ሀገር-ሥም {
  display: inline-block;
  vertical-align: top;
}
